{
    "extends": ["eslint:recommended", "react-app", "prettier"],
    "plugins": ["prettier"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        // make eslint check prettier rules
        "prettier/prettier": "error"
    }
}
